<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

    <form method="post" action="register">
        {% csrf_token %}
        Username: <input type="text" name="username"><br>
        Firstname: <input type="text" name="firstname"><br>
        Lastname: <input type="text" name="lastname"><br>
        Email: <input type="email" name="email"><br>
        Password: <input type="password" name="password1"><br>
        Confirm password: <input type="password" name="password2"><br>
        <input type="submit">
    </form>

    {% for message in messages %}
        <h4>{{ message }}</h4>
    {% endfor %}
</body>
</html>